{ 
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["babel-plugin-module-resolver", {
      "alias": {
        "@pages": "./src/app/pages",
        "@helpers": "./src/app/helpers",
        "@services": "./src/app/services",
        "@components": "./src/app/components",
        "@styles": "./src/styles"
      }
    }]
  ]
}
